.container {
  position: relative;
  display: flex;
  width: 100%;
}

.intro {
    position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: xx-large;
}
